<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">123456</property>
        <property name="hibernate.connection.url">jdbc:mysql://192.168.43.232:3306/DormitorySystem?useUnicode=true&amp;characterEncoding=utf-8</property>
        <property name="hibernate.connection.username">zcy</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <mapping resource="hibernate/Dormitory.hbm.xml" />
    	<mapping resource="hibernate/Question.hbm.xml" />
    	<mapping resource="hibernate/Students.hbm.xml" />	
    </session-factory>
    

</hibernate-configuration>
    
